html {
    font-size: 16px;
}


/* Redimensión de fuente utilizando rem */

p {
    font-size: 1rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 1.05rem;
}


/**************************/


/* clases predefinidas */

* {
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: black;
    background-image: url(../img/bg.8a1872c0.jpg);
    height: 100vh;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Diseño de columnas */

.column-1 {
    width: 100%;
    float: left;
}

.column-2 {
    width: 50%;
    float: left;
}

.column-3 {
    width: 33.33%;
    float: left;
}

.column-4 {
    width: 25%;
    float: left;
}

.column-5 {
    width: 20%;
    float: left;
}

.column-6 {
    width: 16.66%;
    float: left;
}

.column-75 {
    width: 75%;
    float: left;
}


/* Otras clases */

#header {
    z-index: 999999;
}

body::before {
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#000000, #000000);
    opacity: 0.95;
}

input {
    width: 100%;
    border-color: white;
    background-color: black;
    color: white;
    height: 7vh;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#texto {
    color: white;
    z-index: 1;
    font-family: 'Roboto Mono', monospace;
}

#texto2 {
    color: white;
    z-index: 1;
}

#sub {
    background-color: rgba(172, 255, 47, 0.274);
}

.verde {
    color: green;
}

.rojo {
    color: red;
}

#resultado {
    color: white;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

#num {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

#resultado2 {
    color: white;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

#num2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

footer {
    color: white;
    text-align: center;
    height: 10vh;
    z-index: 1;
}


/* clase para centrar contenido en horizontal y vertical (lo centra respecto al elemento padre) */

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    /* column-2 pasará de tener 50% a 100% */
    .column-2 {
        width: 100%;
    }
    /* column-3 pasará de tener 33.33% a 100% */
    .column-3 {
        width: 100%;
    }
    /* column-4 pasará de tener 25% a 50% */
    .column-4 {
        width: 50%;
    }
}